@{
    ViewData["Title"] = "Gelijkspel";
}

<h1>Gelijkspel!</h1>
<p>Het spel is geëindigd in een gelijkspel.</p>
<p>Jouw totale waarde: @Model.PlayerDeck.TotalValue</p>
<p>Dealer's totale waarde: @Model.DealerDeck.TotalValue</p>

<!-- Link om een nieuw spel te starten -->
<a href="@Url.Action("InitGame", "BlackJack", new { bet = 50 })" class="btn btn-primary">Start Nieuw Spel</a>
