@{
    ViewData["Title"] = "Blackjack";
}

<div class="text-center mt-4">
    <h1 class="display-4">Welkom bij Blackjack!</h1>
    <p>Klik op de knop hieronder om een nieuw spel te starten:</p>
    <a href="@Url.Action("Play", "BlackJack")" class="btn btn-primary">Play</a>
</div>
