@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Blackjack</h1>
    <p>Ready to play a game of Blackjack? Click the button below to start!</p>

    <a href="@Url.Action("InitGame", "BlackJack", new { bet = 50 })" class="btn btn-primary">Start a New Blackjack Game</a>
</div>
